<MatThemeProvider Theme="@_theme">
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData"/>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView>
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</MatThemeProvider>

@code
{
    readonly MatTheme _theme = new()
    {
        Primary = "#ff6d00",
        Secondary = "#212121",
        Background = "#000000",
        OnPrimary = "#000000",
        OnSecondary = "#ff6d00"
    };
}