@using Microsoft.AspNetCore.Components.Web
@namespace jira2ets.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>JiraToEts</title>
    <base href="~/"/>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <script src="_content/MatBlazor/dist/matBlazor.js"></script>
    <link href="_content/MatBlazor/dist/matBlazor.css" rel="stylesheet"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body style="position: relative; display: flex; flex-direction: column">
@RenderBody()
<script src="_framework/blazor.server.js"></script>
</body>
</html>